@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sylvester eve</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="text-center">
        <h2>we invite you for a great party!</h2>
        <h3>yes, you</h3>
        <a class="btn btn-primary" asp-action="RsvpForm">Send RSVP</a>
    </div>
</body>
</html>
