@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sylvester eve</title>
</head>
<body>
    <div>
        @ViewBag.Greeting world (from a view page)
        <p>
            we invite you for a great party!<br />
            (to do, upgrade add pics etc)
        </p>
        <a asp-action="RsvpForm"> Send RSVP</a>
    </div>
</body>
</html>
